<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order received</title>
</head>
<body>
<h1>Order Received</h1>
<h1>Food Order</h1>
<form method="post" action="summary">
    <label>Which meal?</label>
        <p><input type="radio" name="meal" value="breakfast">Breakfast</p>
        <p><input type="radio" name="meal" value="lunch">Lunch</p>
        <p><input type="radio" name="meal" value="dinner">Dinner</p>

    <input type="submit" value="Place Order">

</form>

</body>
</html>